<main class="hero" role="main">
	<div class="container">
		<h1 class="title">Your Trusted Task Manager</h1>
		<p class="subtitle">Butler is a clean and beautiful free web application that helps you to keep track of all your important tasks.</p>
		<%= link_to 'Get Started!', new_user_registration_path, class: "btn btn-primary" %>
	</div>
</main>
