# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e83334cd81257deb0ae8280a976c5560c89459de806bee153594b48c59e4a3316c11cea0e3850127645fc9a45087a5a970bc3c6d2e6a3633a3b64a6a5156b8bb
  mandrill_username: <%= ENV["MANDRILL_USERNAME"] %>
  mandrill_apikey: <%= ENV["MANDRILL_APIKEY"] %>

test:
  secret_key_base: 6d709c7e4338d080e122aef9796e3c07810a0ba829998fa0b4611075fca96b70a7ceda897a60959bde3dd49eba40537aeb443f8fb5715562e2b19def5cbc3e4c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
