// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

// --------------------------------------
// HERO
// --------------------------------------
main {
	text-align: center;
	background-color: #faf9f6;
	padding: 4rem 0;
	position: relative;

	.title {
		color: $primary-color;
		font-size: 60px;
		margin: 0;
		letter-spacing: 0.05rem;

	}
	
	.subtitle {
		font-size: 1.3rem;
		font-weight: 300;
		font-size: 1.4rem;
		letter-spacing: 0.03rem;
		margin: 0.3em 0 2.5em 0;
		line-height: 1.5em;
		color: $darker-gray;
	}

	.logo {
		position: absolute;
		left: 50%;
		top: 91%;
		width: 150px;
		margin-left: -75px;
	}

	@media (max-width: 992px) {
		.title {
			font-size: 52px;
		}

		.subtitle {
			font-size: 1.3rem;
		}

		.logo {
			top: 93%;
		}
	}

	@media (max-width: 600px) {
		.title {
			font-size: 48px;
		}

		.subtitle {
			font-size: 1.25rem;
		}
	}

	@media only screen and (max-width: 384px) {
		.logo {
			top: 95%;
		}
	}
}


// --------------------------------------
// SECTION: FEATURES
// --------------------------------------
.section-title {
	font-size: 2rem;
	font-weight: 400;
	padding-top: 1.6rem;
	letter-spacing: 0.04rem;
}

.section-description {
	font-size: 1.35rem;
	font-weight: 100;
	letter-spacing: .03em;
	line-height: 1.5em;
	color: $lighter-gray;
}

.text-left {
	.col-1-3,
	.col-2-3 {
		float: right;
	}

	.col-1-3 {
		text-align: right;
	}
}

.text-right {
	.col-1-3,
	.col-2-3 {
		float: left;
	}
}

.feature {
	@extend %clearfix;

	padding: 4rem 0;
	
	strong {
		font-weight: 400;
		color: $primary-color;
	}

	.container {
		padding-right: 5rem;
		padding-left: 5rem;
	}

	.col-1-3 {
		min-width: 200px;

		img {
			width: 90%;
			min-width: 160px;
		}
	}

	@media (max-width: 992px) {
		text-align: center;
		padding: 2.5rem 0;

		.section-title {
			padding-top: 1rem;
		}

		.col-1-3,
		.col-2-3 {
			float: none;
		}

		.col-2-3 {
			width: 100%;
		}

		.col-1-3 {
			text-align: center;
		}

		&:nth-of-type(1) {
			padding-top: 6rem;
		}
	}

	@media (max-width: 1200px) {
		.container {
			padding-right: 24px;
			padding-left: 24px;
		}
	}
}


// --------------------------------------
// SECTION: SIGN UP
// --------------------------------------
.sign-up {
	@extend %clearfix;
	background-color: $primary-color;
	color: $opaque-white;
	text-align: center;
	padding: 4rem 0;

	.section-title {
		padding-top: 0;
		font-size: 2.5rem;
		margin-top: 0;
		margin-bottom: .5rem;
	}

	.section-description {
		color: $opaque-white;
		padding-top: 0;
		margin-top: 0;
		font-size: 1.6rem;
		line-height: 1.2em;
		opacity: .6;
		margin-bottom: 2em;
	}

	.btn-secondary {
		border: 1.5px solid $opaque-white;
		letter-spacing: .06em;
	}
}
