/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "normalize";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "colors";
@import "home";
@import "form";
@import "users";
@import "todo_lists";
@import "todo_items";

// --------------------------------------
// PLACE HOLDERS
// --------------------------------------
%clearfix {
	zoom: 1;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}


// --------------------------------------
// CUSTOM STYLES
// --------------------------------------
html {
	height: 100%;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;

	&:before,
	&:after {
		box-sizing: inherit;
	}
}

body {
	font-family: 'Open Sans', $helvetica;
	color: $default-text-color;
	@include display(flex);
	@include flex-direction(column);
	min-height: 100%;
	height: 100%;
	overflow-x: hidden;
}

main,
section {
	@include flex(1 0 auto);
}

a {
	color: $gray1;

	&:hover {
		color: $primary-color;
	}
}

::selection {
	background: $selection-color;
}

.margin-left {
	margin-left: 1.2em;
}

.text-center {
	text-align: center;
}

.primary-background {
	background-color: $primary-color;
	color: $opaque-white;
}


// --------------------------------------
// FLASH
// --------------------------------------
#flash-wrap {
	position: absolute;
	top: 10px;
	right: 0;
	text-align: center;
	background: $flash-notice;
	color: $opaque-white;
	padding: .5em 2em;
	z-index: 1;
	border-radius: .3em 0 0 .3em;
	visibility: hidden;
	@include transition(all 1.5s $ease-out-expo);
}

.close-btn {
	position: absolute;
	margin-left: 1em;
	right: 12px;
	line-height: 1.4rem;
	cursor: pointer;
}


// --------------------------------------
// GRID
// --------------------------------------
.container {
	margin: 0 auto;
	padding: 0 24px;

	@media (min-width: 768px) {
		width: 750px;
	}
	
	@media (min-width: 992px) {
		width: 970px;
	}
	
	@media (min-width: 1200px) {
		width: 1170px;
	}
}

.col-1-2,
.col-1-3,
.col-2-3 {
	display: inline-block;
	vertical-align: top;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.3%;
}

.col-2-3 {
	width: 66.6%;
}


// --------------------------------------
// BUTTONS AND LINKS
// --------------------------------------
.btn {
	display: inline-block;
	text-decoration: none;
	border-radius: .3em;
	cursor: pointer;
	padding: 1em;
	letter-spacing: .01em;
	@include transition(all .4s ease-in-out);
}

.btn-lg {
	padding: .9em 1.5em;
	font-size: 1.35rem;
	font-weight: 300;
	letter-spacing: .03em;
	border: 2px solid;
	border-radius: 5px;
}

.btn-primary {
	color: $primary-color;

	&:hover {
		background-color: $primary-color;
		color: white;
	}
}

.btn-secondary {
	color: $opaque-white;

	&:hover {
		background-color: $opaque-white;
		color: $primary-color;
	}
}

.links {
	font-size: 1.3em;
	font-weight: 400;

	a {
		margin: 0 .5em;
		text-decoration: none;
	}
}

@media only screen and (max-width: 400px) {
	.links {
		font-size: 1.1rem;

		a {
			margin: .8em 0;
			display: block;
			border: 1px solid;
			border-radius: .3em;
			padding: 1em;
		}
	}
}


// --------------------------------------
// PAGES
// --------------------------------------
.page-title {
	text-align: center;
	font-weight: 600;
	letter-spacing: .02em;
}

.page-wrap {
	@extend %clearfix;
	padding: 3rem 0 6rem 0;
}


// --------------------------------------
// HEADER
// --------------------------------------
.border-enabled-header {
	border-bottom: 1px solid $opaque-white;
}

header {
	@extend %clearfix;
	padding: 1rem 0;
	@include flex(0 0 auto);

	a {
		text-decoration: none;
		color: $default-text-color;
	}

	.navbar-brand {
		float: left;
		//font-size: 28px;
		font-size: 1.75em;
		font-weight: 700;
	}

	nav {
		float: right;
		//line-height: 34px;
		padding-top: .5rem;
		padding-bottom: .5rem;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			overflow: hidden;
			@include transition(max-height .4s ease-in-out);
			
			li {
				display: inline-block;

				a {
					margin-left: 20px;

					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}

	.navbar-toggle {
		float: right;
		font-size: 1.75em;
		display: none;
	}

	@media only screen and (max-width: 500px) {
		padding-bottom: 0;
		
		nav {
			width: 100%;

			ul {
				max-height: 0;

				li {
					width: 100%;
					padding: 1em 0;
				}
			}
		}

		.navbar-collapse-toggle {
			max-height: 11.125em;
		}

		.navbar-toggle {
			display: block;
		}
	}
}


// --------------------------------------
// FOOTER
// --------------------------------------
.border-enabled-footer {
	border-top: 1px solid $opaque-white;
}

footer {
	@extend %clearfix;
	padding: 1rem 0;
	text-align: center;
	font-weight: 300;
	letter-spacing: 0.02em;
	color: $gray1;
	@include flex(0 0 auto);

	.fa-heart {
		color: $pink;
	}
}
