<%= content_tag :footer, class: home_page? ? nil : "border-enabled-footer" do %>
	<div class="container">
		<p>&copy; 2015 Jin Pae. Made with <i class="fa fa-heart"></i> in Seoul, Korea.</p>
	</div>
<% end %>
