<%= content_tag :footer, class: home_page? ? nil : "primary-background" do %>
	<div class="container">
		<p>&copy; 2015 <%= link_to 'Jin Pae', 'https://github.com/jinpae', target: '_blank' %>. Made with <i class="fa fa-heart"></i> in Seoul, Korea.</p>
	</div>
<% end %>
